.login{
    padding-top: 20vh;
}
.login .container{
    max-width: 800px;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 5px 1px;
}
#dark .login .container{
    background-color: #7f858d;
    box-shadow: none;
}
.login h2{
    padding: 10px;
}
#dark .login h2{
    color: white;
}
#login__form{
    margin: 0 auto;
    max-width: 640px;
    text-align: center;
}
#login__form .ant-form-item-control{
    text-align: left;
}
.login__registration{
    cursor: pointer;
}
.login__registration:hover{
    text-decoration: underline;
}
