.component-with-helper {
    position: relative;
}

.component-with-helper__helper {
    position: absolute;
    left: 50%;
    bottom: 100%;
    opacity: 0;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #000;
    font-size: .8em;
    line-height: 1.8;
    text-align: left;
    white-space: nowrap;
    transform: translate(-50%, 1em);
    transition: all .15s ease-in-out;
    color:white;
}

.component-with-helper__helper::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: .5em solid transparent;
    border-top-color: #000;
    transform: translate(-50%, 0);
}

.component-with-helper:hover .component-with-helper__helper{
    opacity: 1;
    transform: translate(-50%, 0);
}