.post{
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px;
    cursor: pointer;
    max-width: 350px;
}
#dark .post{
    background-color: #7f858d;
    box-shadow: none;
}
.post__owner{
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 25px auto;
    text-align: left;
}
.post__owner__image{
    grid-row-start: 1;
    grid-row-end: 3;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
}
.post__owner__name{
    font-weight: bold;
}
.post__image{
    padding: 10px 0;
    min-height: 150px;
    max-height: 210px;
    max-width: 300px;
    height: 25vh;
    border-radius: 25px;
}

@media (max-width: 750px) {

}